.App {
  font-family: 'Circular', cursive;
  color: white;
}

h1 {
   font-family: 'Circular', sans-serif;
   font-weight: 700;
}

@font-face {
  font-family: 'Circular';
  src:  url('./assets/circular-pro-medium.woff2') format('woff2');
}

html {
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
}

svg {
  mix-blend-mode: overlay;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

svg path {
  opacity: 0.8 !important;
  transition: opacity 0.5s ease;
}

svg text {
  opacity: 0.5;
  color: white !important;
}

.series-area {
  z-index: 1;
  background: white;
  border-radius: 4;
  transition: fill-opacity 0.5s ease;
  position: relative;
}

.legend {
  overflow: auto;
  grid-area: legend;
  color: rgba(0, 0, 0, 0.5)
}

.month-tick {
  animation: appear 1s ease;
}

.month-tick:nth-child(1) {
  --delay: 1
}
.month-tick:nth-child(2) {
  --delay: 2
}
.month-tick:nth-child(3) {
  --delay: 3
}
.month-tick:nth-child(4) {
  --delay: 4
}
.month-tick:nth-child(5) {
  --delay: 5
}
.month-tick:nth-child(6) {
  --delay: 6
}
.month-tick:nth-child(7) {
  --delay: 7
}
.month-tick:nth-child(8) {
  --delay: 8
}
.month-tick:nth-child(9) {
  --delay: 9
}
.month-tick:nth-child(10) {
  --delay: 10
}
.month-tick:nth-child(11) {
  --delay: 11
}
.month-tick:nth-child(12) {
  --delay: 12
}
.month-tick {
  animation-delay: calc(var(--delay) * 1s)
}